<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sairaa.scholarquiz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppInfo">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.Login.LoginActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".ui.Register.RegisterActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.Lesson.LessonActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.YellowStatusBar" />
        <activity android:name=".ui.Subscription.SubscribeActivity" />
        <activity android:name=".ForgotPasswordActivity" />

        <provider
            android:name=".data.QuizProvider"
            android:authorities="org.sairaa.scholarquiz"
            android:exported="false" />

        <activity android:name=".ui.User.QuizActivity" />
        <activity android:name=".ui.Moderator.QuizModeratorActivity" />
        <activity android:name=".ui.Moderator.Question.QuestionListActivity" />
        <activity android:name=".ui.Moderator.Question.QuestionAddActivity"></activity>
    </application>

</manifest>